# Development
#
**/build
**/dist
**/node_modules
**/*.code-workspace

# Files
#
**/.DS_Store
**/*.zip
**/*.bak
**/*.tgz
**/*.gz
**/*.code-workspace
!**/.gitkeep
!**/README.md

# Yarn
#
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# TypeScript cache
#
**/*.tsbuildinfo

# Logs
#
**/logs
**/*.log
**/npm-debug.log
**/yarn-debug.log
**/yarn-error.log
**/lerna-debug.log